{% extends 'base.html.twig' %}

{% block title %}Articles home!{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 5%">
        <h1>Articles ✅</h1>
    </div>
    {% if articles != null %}
        <div class="container">
            {% for article in articles %}
                <div class="row">
                    <div class="col" style="margin-bottom: 2%; height: 375px">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ asset("articleImages/#{article.imageADDR}") }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.titre }}</h5>
                                <p class="card-text">{{ article.content|striptags|slice(0, 80) }}...</p>
                                <footer class="blockquote-footer">
                                    <cite>{{ article.user.username }} {{ article.datePublication|format_datetime('short', 'short', locale='fr') }}</cite>
                                </footer>
                                <a href="{{ path('showArticle', { 'id': article.id }) }}" class="btn btn-outline-dark">Voir
                                    l'article</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <p>Il n'y a pas d'articles</p>
    {% endif %}
{% endblock body %}
